.main-header {
  /* background-image: url("https://image.tmdb.org/t/p/original/gG9fTyDL03fiKnOpf2tr01sncnt.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
