.header-movie__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 95vh;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  height: 8px;
  width: 4px;
  background: rgb(31, 31, 31);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #000;
  border-radius: 10px;
}
